<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="http://livejs.com/live.js"></script>
  <link rel="stylesheet" type="text/css" href="css/{{ pageStyle }}.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>{{ pageTitle }}</title>
</head>
<body>
  {{{body}}}
  <script type="text/javascript" src="js/{{ pageScript }}.js"></script>
</body>
</html>