<div class="container">

  <h1 class="element">
    Login form
  </h1>

  <div class="element mdc-text-field" id="firstName">
    <input type="text" id="firstNameField" class="mdc-text-field__input">
    <label class="mdc-floating-label" for="firstNameField">First name</label>
    <div class="mdc-line-ripple"></div>
  </div>

  <div class="element mdc-text-field" id="lastName">
    <input type="text" id="lastNameField" class="mdc-text-field__input">
    <label class="mdc-floating-label" for="lastNameField">Last name</label>
    <div class="mdc-line-ripple"></div>
  </div>

  <div class="element mdc-text-field" id="email">
    <input type="text" id="emailField" class="mdc-text-field__input">
    <label class="mdc-floating-label" for="emailField">Email</label>
    <div class="mdc-line-ripple"></div>
  </div>

  <button
      id="submitButton"
      class="element mdc-fab mdc-fab--extended">
    Send me...
  </button>

</div>

